*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}
body::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('bg5.jpg');
    opacity: 0.7;
    z-index: -1;
    background-position: center;
    background-size: cover;
}
.wrapper{
    width: 400px;
    padding: 30px;
    text-align: center;
    border: 2px solid #fff;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(40px);
    border-radius: 16px;
}
form{
    display: flex;
    flex-direction: column;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
    color: white;
}
.footer h2 {
    font-size: 1rem;
    margin-top: 20px;
    color: white;
}
.input-field{
    position: relative;
    border-bottom: 2px solid #fff;
    margin: 15px 0;
}
.input-field input{
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #fff;
}
.input-field label{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.input-field input:focus ~ label,
.input-field input:valid ~ label{
    font-size: 12px;
    top: 10px;
    transform: translateY(-120%);
}
.forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0 35px 0;
    color: #555;
}
.forgot label{
    display: flex;
    align-items: center;
    font-size: 14px;
}
#remember{
    accent-color: #3a57f8e0;
    margin-right: 7px;
}
.wrapper a{
    color: #3a57f8e0;
    text-decoration: none;
    font-size: 14px;
}
.wrapper a:hover{
    text-decoration: underline;
}
button{
    background: #3a57f8e0;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    padding: 12px 20px;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ease;
}
button:hover{
    border-color: #fff;
    background-color: rgba(255,255,255,0.15);
    color: #555;
}
.register{
    text-align: center;
    margin-top: 30px;
    color: #555;
    font-size: 14px;
}
